DirectoryIndex index.php
ErrorDocument 404 /index.php
ErrorDocument 403 /index.php

Order allow,deny
<FilesMatch "^index.php$">
	allow from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

Options -Indexes
