@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html { position: relative; min-height: 100% }
body {font-family: 'Roboto', Verdana, sans-serif; background: #202020; height: 100%; margin: 0; color: #fff; overflow-x: hidden; }

a { color: #50a0f0; text-decoration: none }
a:hover, a:focus { color: #4080c0; text-decoration: underline }

*:first-child { margin-top: 0 !important }
*:last-child { margin-bottom: 0 !important }

/** Misc. */
.float-left { float: left }
.float-right { float: right }


/** Status Items */
abbr { cursor: help }
.status { background: #808080; display: block; width: 10px; height: 10px; border-radius: 50% }
.status.status-local { opacity: .5 }
.status.status-api { display: inline-block; margin-right: 5px }
.status.status-primary { background: #50a0f0 }
.status.status-success { background: #50f050 }
.status.status-info { background: #a050f0 }
.status.status-warning { background: #f0a050 }
.status.status-danger { background: #f05050 }
.status-notice { color: #c0c0c0; font-size: 14px }
.status-notice.status-local { display: none }

/** Header */
#header { display: flex; padding: 20px 40px; flex-wrap: wrap; justify-content: left; align-items: center }
/* #header > * { flex: none } */
#header .title { text-align: right }
#header .title h1 { margin: 0; font-size: 60px; font-weight: bold }
#header .title h1 a { color: #fff }
#header .title p { margin: 0; font-size: 20px }
#header .infos > .timer { color: #c0c0c0; font-size: 14px }
#header .infos > .timer span { color: #f0a050 }
@media (max-width: 600px) {
	#header > * + * { margin: 20px 0 0 }
	#header .infos { display: flex; width: 100%; justify-content: space-between; align-items: center }
	#header .infos > * { margin-top: 0; margin-bottom: 0 } }
@media (min-width: 601px) {
	#header > * + * { margin-left: 30px }
	#header .infos { padding: 10px; padding-left: 20px; border-left: 2px solid #f0f0f0 } }
@media (max-width: 800px) {
	#header .title h1 { font-size: 40px }
	#header .title p { font-size: 16px } }

/** Main */
#main { background: #303030; padding: 30px; font-size: 16px; overflow: hidden }
#main > * { margin: 20px 0 }
#main > * + * { padding-top: 20px; border-top: 2px solid #404040 }
#main > ul.settings { margin: 0; padding: 0; list-style: none }
#main > ul.settings > li { background: #c04040; display: inline-block; padding: 10px; border-radius: 5px; cursor: pointer }
#main > ul.settings > li:hover, #main > ul.settings > li:focus { background: #903030 }
#main > ul.settings > li.toggled { background: #4080c0 }
#main > ul.settings > li.toggled:hover, #main > ul.settings > li.toggled:focus { background: #306090 }
#main > ul.settings > li:not(:first-child) { margin-left: 10px }
#main > article > header { margin: 0 0 5px }
#main > article > header > * { display: inline-block; margin: 0; vertical-align: middle }
#main > article > header > * + * { margin-left: 5px }
#main > article > header span { color: #808080; font-size: 14px }
#main > article > header h2 { font-size: 30px }
#main > article > header h2 a { color: #fff }
#main > article > header > a { font-size: 20px }
#main > article > header > a[href="#"] { color: #808080; cursor: default }
#main > article > p { margin: 0 }
#main > article > p + p { margin-top: 10px }
@media (max-width: 800px) {
	#main > article > header h2 { font-size: 24px }
	#main > article > header > a { font-size: 18px } }

/** Footer */
#footer { background: #202020; display: flex; padding: 20px 30px; color: #fff; font-size: 16px; flex-wrap: wrap; justify-content: space-between; align-items: center; overflow: hidden }
#footer ul { margin: 0; padding: 0; list-style: none }
#footer ul > li { margin: 5px 0 }